body {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
.col-1 {
	width: 8.3333%;
}
.col-2 {
	width: 16.6666%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333%;
}
.col-5 {
	width: 41.6666%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.3333%;
}
.col-8 {
	width: 66.6666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.3333%;
}
.col-11 {
	width: 91.6666%;
}
.col-12 {
	width: 100%;
}
.color_grey {
    color: #a9a9a9;
}
label {
    user-select: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.links {
    font-size: 12px;
    color: #6A983C;
}
.btn {
    width: 52px;
    height: 22px;
    border-radius: 12px;
    padding: 12px 12px 12px 20px;
    background: #6A983C;
    color: white;
    border: 2px solid #46760A;
}
.btn {
	font-size: 15px;
	font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: #6A983C;
    color: white;
    border: 2px solid #46760A;
	transition: 0.5s;
	&:hover {
		color: #46760A;
		background: #fff;
		border: 2px solid #46760A;
	}
}
.reset {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #A9A9A9;
    margin-left: 40px;
}
.price {
    &__inp {
        width: 80px;
        height: 42px;
        border-radius: 12px;
        background: #F9F9F9;
        border:1px solid #A9A9A9;
        padding-left: 20px;
        font-size: 14px;
    }
    &__box {
        display: flex;
        margin-bottom: 50px;
        .box_right {
            margin-left: 30px;
        }
    }
    &__bottom {
        display: flex;
        flex-wrap: wrap;
    }
}
.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.categories {
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
    }
}
.mt {
    margin-top: 70px;
}
.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.brands {
    &__box {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
}
.buy {
    width: 70px;
    margin-left: 40px;
}
img {
	border-radius: 5px;
}
input {
	outline: none;
}
.number {
	font-size: 12px;
	color: #6A983C;
    font-family: 'Poppins', sans-serif;
	font-weight: 600;
	width: 20px;
	height: 18px;
	background: #F4F8EC;
	border-radius: 12px;
	padding: 0px 8px 0px 10px;
}
.title {
    font-family: 'Poppins', sans-serif;
}
.subtitle {
    font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 600;
    color: black;
}
.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}
.new__price {
    font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.old__price {
    font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #A9A9A9;
	margin-top: -15px;
}