@mixin font ($weight, $size, $lt:none, $textCase:none) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: 1;
    letter-spacing: $lt;
    text-transform: $textCase;
}