.last {
    position: relative;
    img {
        width: 100%;
    }
    &_top {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 330px;
        left: 300px;
    }
    &_grey {
        font-family: 'Poppins', sans-serif;
        @include font(600,12px);
        color: $color-light_gray;
    }
    &__p {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .p_left {
        font-family: 'Poppins', sans-serif;
        @include font(600,12px);
        color: #fff;
        margin-left: 30px;
    }
    &__title {
        font-family: 'Poppins', sans-serif;
        @include font(600,32px);
        line-height: 44px;
        max-width: 550px;
        color: #fff;
    }
    .left__p {
        display: flex;
        align-items: center;
    }
    .food,
    .recep,
    .fresh,
    .veget {
        font-family: 'Poppins', sans-serif;
        @include font(600,12px);
        color: $color-green;
        border-radius: 12px;
        background-color: #F4F8EC;
        padding: 10px;
        margin: 0;
    }
    .h5 {
        font-family: 'Poppins', sans-serif;
        @include font(600,15px);
        margin: 0;
    }
    .food,
    .fresh {
        margin-right: 10px;
    }
    &__svg {
        display: flex;
        align-items: center;
        h5 {
            font-family: 'Poppins', sans-serif;
            @include font(600,15px);
            margin-left: 10px;
        }
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        p {
            font-family: 'Poppins', sans-serif;
            @include font(700,15px);
            margin-left: 5px;
            color: black;
        }
    }
    .svg {
        display: flex;
        align-items: center;
        height: 20px;
        padding: 5px;
        background: #f5f5f5;
        border-radius: 12px;
    }
    &__side {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    &_left {
        margin-left: 0;
        margin-right: 40px;
    }
    .p {
        font-family: "Open Sans", sans-serif;
        @include font(400,17px);
        max-width: 550px;
        margin-bottom: 50px;
    }
    .h4 {
        font-family: 'Poppins', sans-serif;
        @include font(600,18px);
        margin-bottom: 10px;
    }
    .last__input {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h5 {
            font-family: 'Poppins', sans-serif;
            @include font(600,12px);
            margin-bottom: 0;
        }
        input {
            width: 230px;
            border-radius: 12px;
            border: 1px solid #d1d1d1;
            background: $color-input_background;
            padding: 10px;
        }
    }
    &__checkbox {
        margin-top: 20px;
        height: 20px;
        border-radius: 12px;
        border: 1px solid #d1d1d1;
        background: $color-input_background;
        padding: 10px;
        display: flex;
        align-items: center; 
        p {
            font-family: "Open Sans", sans-serif;
            @include font(400,14px);
        }
    }
    .input {
        border-radius: 12px;
        border: 1px solid #d1d1d1;
        background: $color-input_background;
        padding: 10px;
        height: 100px;
        width: 530px;
        margin-bottom: 30px;
    }
    &__h5 {
        font-family: 'Poppins', sans-serif;
        @include font(600,12px);
        margin-bottom: 0;
    }
    .h3 {
        font-family: 'Poppins', sans-serif;
        @include font(600,22px);
        margin: 50px 0 30px 0;
    }
    &__review {
        padding: 10px;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
    }
    &__reviewbox {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }
        img {
            height: 40px;
            width: 40px;
            margin-right: 20px;
        }
    }
    .review__p {
        display: flex;
        align-items: center;
    }
    .bk {
        margin-bottom: 0;
    }
    .review2 {
        margin: 30px 0 130px 80px;
        margin-top: 30px;
        margin-left: 80px;
        width: 480px;  
         
    }
    &__img {
        display: flex;
        justify-content: space-between;
        .img__box {
            max-width: 280px;
        }
    }
    .img__p {
        padding: 3px 5px;
        width: 20px;
        margin-bottom: -30px;
        margin: 20px 0 -30px 0;
    }
    .df {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__ul {
        margin-left: 10px;
        position: relative;
        li {
            display: flex;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            @include font(700,15px);
            a {
                display: flex;
                align-items: center;
                svg {
                    height: 10px;
                    width: 10px;
                    margin-left: 10px;
                }
            }
            ul {
                display: none;
                position: absolute;
                top: 20px;
                left: 0;
            }
        }
    }
    a {
        color: black;
    }
    .hero__ul li:hover ul {
        display: block;
    }
    .hover {
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}